/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 avr. 2024, 09:46:00
    Author     : PC
*/

@media screen and (min-width: 676px) {
    .big {
        max-width: 60%; /* New width for default modal */
    }
}
.scrollable {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.sidebar-stock {
    background-color: #0C3060 !important;
    background-image: linear-gradient(180deg, #0C3060 10%, #224abe 100%) !important;
    background-size: cover;
}
button img{
    width : 25%;
}
.py-3 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.card-header{
    padding : 0.75% !important;
    text-align: center !important;
    border-bottom: none !important;
}
#login fieldset{
    /*width : 20%;*/
    margin : 15% 40% 2% 40%;
}
.card{
  margin-top: 1% !important;
}
.card-body{
    //padding : 0% ;
}
#evaluateur-info{
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    
}
.form-check-input {
    width : 1.5em !important;
    height: 1.5em !important;
}
.form-check-label{
    font-size: 1.2em !important;
}
#legend{
    font-style: italic;
    
}
.total_point{
    font-style: bold !important;
}
#score{
    font-style: bold !important;
}
.action_questform{
    text-align: right !important;
    padding : 2% !important;
   
}
#sep{
    width: 80%;
    color: white;
    height: 2px;
}
button, input, select{
    font-size: 0.83em !important;
    height: 90% !important;
}
button #logout{
    font-size: 0.7em !important;
}
.navbar-brand{ 
    font-size: 0.95em !important;
/*    color : #b5b5b5 !important;*/
}
.navbar-brand .active{
    color : #ffffff !important;
}
.form-control , .form-select{
    padding: .200rem 2.25rem .200rem .50rem ; 

}
.btn{
    padding: .200rem .50rem;
}
.cadre .card-body{
    padding: 1rem !important;
    font-weight: bold !important;
}
.tableDetailPdr {
    table-layout: fixed;
    border-collapse: collapse;
    //margin: 0 auto;
    border: 1px solid #eee;
}

.tableDetailPdr thead {
    background-color: #fff;
    box-shadow: inset 0px -1px 0px #eee, 
                0px 5px 5px -5px rgba(0,0,0,.1);
    position: relative;
}
.tableDetailPdr thead tr {
    display: block;
    position: relative;
}

.tableDetailPdr td:nth-child(1), 
.tableDetailPdr th:nth-child(1){
    min-width: 350px;
}
.tableDetailPdr td:nth-child(2),
.tableDetailPdr th:nth-child(2) {
    min-width: 250px;
}
.tableDetailPdr td:nth-child(3),
.tableDetailPdr th:nth-child(3) {
    min-width: 150px;
}
.tableDetailPdr th, .tableDetailPdr td {
    padding: 5px;
    text-align: left;
}

.tableDetailPdr tbody {
    display: block;
    overflow-y: auto;
    width: 100%;
    height : 250px;
}
.tableDetailPdr tbody tr:nth-child(2n) {
    //background-color: #dddddd;
}
.tableDetailPdr td .etat1,
.tableDetailPdr td .etat0
{
    color: white;
    border-radius: 5px;
}
.tableDetailPdr td .etat1{
    background-color: green;
    padding: 0 20px 0 20px;
    
}
.tableDetailPdr td .etat0{
    background-color: red;
    padding: 0 15px 0 15px;
    
}
footer{
    margin-top: 2%;
}
.bootstrap-select{
    border:1px solid #ccc  !important;
}
.axe{
    font-weight: bold !important;
}
.critere, .souscritere{
    font-size:0.9em;
}
#modal-employe input, #modal-employe select{
    width : 240px !important;
}