<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Auth</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>controller_rubrique</servlet-name>
        <servlet-class>controller.controller_rubrique_rh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller_updateVoletRH</servlet-name>
        <servlet-class>controller.controller_updateVoletRH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller_updateVoletFIN</servlet-name>
        <servlet-class>controller.controller_updateVoletFIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller_updateVoletOP</servlet-name>
        <servlet-class>controller.controller_updateVoletOP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller_getDataForChart</servlet-name>
        <servlet-class>controller.controller_DataForChart</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>controller_DataJSON</servlet-name>
        <servlet-class>controller.controller_DataJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller_rubrique</servlet-name>
        <url-pattern>/controller_rubrique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller_updateVoletRH</servlet-name>
        <url-pattern>/controller_updateVoletRH</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UtilisateurServlet</servlet-name>
        <servlet-class>controller.UtilisateurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UtilisateurServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModifierUtilisateur</servlet-name>
        <servlet-class>controller.ModifierUtilisateur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifierUtilisateur</servlet-name>
        <url-pattern>/ModifierUtilisateur</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>controller.AuthServlet</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller.AuthServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>controller_updateVoletFIN</servlet-name>
        <url-pattern>/controller_updateVoletFIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller_updateVoletOP</servlet-name>
        <url-pattern>/controller_updateVoletOP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller_getDataForChart</servlet-name>
        <url-pattern>/controller_getDataForChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller_DataJSON</servlet-name>
        <url-pattern>/controller_DataJSON</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
